services:
  - type: web
    name: mushfiq-portfolio
    env: python
    region: oregon
    plan: free
    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt
      python manage.py collectstatic --noinput --clear
      python manage.py migrate --noinput
    startCommand: gunicorn page.wsgi:application --bind 0.0.0.0:$PORT --workers 2 --timeout 120
    autoDeploy: true
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.5
      - key: DEBUG
        value: false
      - key: SECRET_KEY
        generateValue: true
      - key: EMAIL_HOST_USER
        sync: false
      - key: EMAIL_HOST_PASSWORD
        sync: false